#navbar {
  display: flex;
  width: 100%;
  /* height: 100vh; */
}

#navbar #left {
  width: 20%;
  max-width: 300px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

#left #env {
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left #env input {
  font-size: 24px;
  font-weight: bold;
  width: 80%;
}

#navbar #content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content #header {
  height: 60px;
  border-bottom: 1px solid #ccc;
}

#content #main-content {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}